/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea/*
web/fonts/
/web/images/categories/*
!web/images/categories/.gitkeep
/web/images/products/*
!web/images/products/.gitkeep
