{% extends 'AppAppBundle::app_layout.html.twig' %}

{% block body %}

<div class="row-fluid">
    <div class="col-md-10">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2560.7577713648293!2d20.034491!3d50.072097899999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471645174b7dcf1f%3A0xf74e30dffc6b7b96!2sosiedle+Centrum+D+7%2C+Krak%C3%B3w!5e0!3m2!1sen!2spl!4v1407061369662" height="450" frameborder="0" style="width:100%; border:0"></iframe>
    </div>
    <div class="col-md-2">
        <p>
            <strong>"ROLCHEM DISTRIBUTION"</strong><br>
            Centrum D 7, 31-933 Kraków<br>
            Polska<br>
            <br><br>
            <strong>Tel kom:</strong>
            <br>501 - 084 - 925<br>
            <br>
            <strong>E-mail:</strong>
            <br>biuro@e-rolchem.pl
        </p>
    </div>
</div>

{% endblock body %}
