{% extends 'AppAppBundle::app_layout.html.twig' %}

{% block body %}
    <p class="lead">
        Firma rolchem distribution jest oddziałem przedsiebiorstwa rolchem,
        które ma wieloletnie i bogate doświadczenie w produkcji zniczy,
        wkładów oraz wyrobów parafinowych .
    </p>

    <blockquote>
        <p>
            Jakość naszych produktów jest jednym z czynników, który umożliwił  nam
            zdobycie obecnej pozyjcji na rynku. Jest to możliwe dzięki stosowaniu
            surowców  wysokiej jakości oraz wykorzystywanie nowoczesnego parku
            maszynowego  i szczegółowej kontroli procesu produkcji zniczy na każdym jego etapie.
        </p>

        <p>
            Naszym celem jest dostarczenie naszym klientom produktów najlepszej
            jakości i zapewnienie atrakcyjnych warunków współpracy.
        </p>
    </blockquote>
    <p class="pull-right">
        Wspópracujemy z najlepszymi :)
    </p>
{% endblock body %}
